input[type=text], select, textarea {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width:90%;
    margin-left:5%;
  }

  textarea{
    width:90%;
    resize: none;
    margin-left:5%;
  }
  
  h5{
    margin-left: 5%;
  }

.submitButton{
    margin:5%;
  }