.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 35px;
  padding: 16px 24px;
  
}

#dark .Header {
  background-color: rgb(110, 110, 110);
  border-bottom: 1px solid #dedfd2;
}
#light .Header {
  background-color: rgb(233, 233, 233);
  border-bottom: 1px solid #242422;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__verticalLine {
  width: 1px;
  height: 35px;
  margin: 0 8px;
}

#dark .header__verticalLine {
  border-left: 1px solid #dedfd2;
}

#light .header__verticalLine {
  color: #242422;
}

#dark .text-h1 {
  color: #dedfd2;
}

#light .text-h1 {
  color:#242422;
}

.header__avatar {
  cursor: pointer;
}

.header__menu {
  font-size: 24px;
  cursor: pointer;
}
